@import '../variables';

.titleProductos{
            background-color: $bg-color-barra;
            background-size: 100%;
            text-decoration: none;
            color: $color-letra;
            padding: 20px;
            text-align: center;
}




