@import '../variables';



/* Menú navegable (Nosotros/Home, Comprar, Ubicación, Contacto) */
.menuNavegable{
    color:$color-letra;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: $bg-color-barra;
    background-size: 100%;
    text-decoration: none;
    text-align-last: center;
}

.white-dropdown{
    color: $color-letra;
}

