@import '../variables';


.navegable{
    padding: 20px;
    display: grid;
    grid-template-areas: 
        "Home"
        "pNosotros"
        "video-nosotros";
    grid-template-rows: 1fr repeat(2,auto);
    grid-template-columns: 0% repeat(2,auto);
    color: $color-letra;
    line-height: 40px;

    /* Título Nosotros */
    #Home{
        margin-bottom: $margin10;
        //font-family: montserrat-principal;
        margin-top: $margin10;
        color: $color-letra;
        /* margin-bottom: 30px; */
    }

    .pNosotros{
        margin-top: 3rem;
    }
    
    .video-nosotros{
        margin-top: 3rem;
    }
}


