//Media querie tablet

@import '../variables';

@media only screen and (min-width:401px) and (max-width:960px){
    ul{
        list-style: none;
        padding: 20px;
        position: relative;

        li{
            display: inline-block;
            width: 20%;
            font-size: 15px;
            
            ul {
                position: absolute;
                display: none;
                width: 15%;
                background-color: $bg-color-barra;
           
                li {
                    display: block;

                    a{
                        text-decoration: none;
                        color: $color-letra;
                
                        &:hover{
                            display:block;
                        }
                    }
                }
            }
        }
    }
}
